td {
   padding-bottom: 10px;
}

 table {
   layout: fixed;
   text-align: left;
 }

 .read {
   background-color: gray;
 }

/*@media screen and (max-width: 650px) {
  td {
    display: flex;
    flex-wrap;
    max-height: 300px;
    max-width: 100px;
    word-wrap: break-word;
  }
}*/
