.link-entry {
  padding-bottom: 5px;
}

header {
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

h1 {
  font-family: 'Marcellus', serif;
}

h2 {
  font-size: 12pt;
  padding-bottom: 5px;
}

h3 {
  font-size: 18pt;
  padding-bottom: 5px;
}

tr:nth-of-type(odd) {
background-color: #F7F7F7;
}

table {
  width: 100%;
}

td {
  padding-left: 5px;
}

footer img, #clear-button {
  display: flex;
  margin: 50px auto 0;
}

.read {
  text-decoration: line-through;
}
